.content-right {
  flex-basis: 80%;
  padding: 30px 15px;
  background-color: $scarlet;
  border: 1px solid $gray;
  border-radius: 5px;

}

@media (max-width: 460px) {

  .content-right {
    padding: 15px;
    flex-basis: 100%;
  }
}


