*{
  box-sizing: inherit;
}

.form_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  padding: 0 15px;
  margin: 0 auto;
}

.form {
  display: block;
  max-width: 400px;
  width: 100%;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
  background: $white;
  border-radius: 3px;
}

.form__row {
  margin: 15px;
}

.form__input {
  display: block;
  width: 100%;
  margin: 15px 0;
  padding: 8px;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: right 12px center;
  outline: 0;
  border: 1px solid $border-color;
  transition: border-color 0.15s linear;
}

.form__input:hover {
  border-color: $border-color;
}
.form__input[required] {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxNicgaGVpZ2h0PScxNicgdmlld0JveD0nMCA4IDE2IDE2JyBlbmFibGUtYmFja2dyb3VuZD0nbmV3IDAgOCAxNiAxNic+PHN0eWxlIHR5cGU9J3RleHQvY3NzJz4uc3Qwe2ZpbGw6I0YxODI2MDt9PC9zdHlsZT48cGF0aCBjbGFzcz0nc3QwJyBkPSdNNy4yIDE3LjRsLTUuNCAzLjgtMS40LTIuNSA2LTIuNy02LjEtMi44IDEuNC0yLjQgNS40IDMuOC0uNS02LjZoMi43bC0uNSA2LjYgNS40LTMuOCAxLjQgMi40LTYgMi44IDYuMSAyLjgtMS40IDIuNS01LjQtMy44LjUgNi41aC0yLjhsLjYtNi42eicvPjwvc3ZnPg==");
}
.form__input[required]:focus:invalid {
  border-color: $border-color-one;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48Y2lyY2xlIGZpbGw9IiNDRjUzNDAiIGN4PSI4IiBjeT0iOCIgcj0iOCIvPjwvc3ZnPg==");
}
.form__input[required]:valid {
  border-color: $gray;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48Y2lyY2xlIGZpbGw9IiNCNEQzODgiIGN4PSI4IiBjeT0iOCIgcj0iOCIvPjwvc3ZnPg==");
}
.form__input:invalid ~ .form__submit {
  display: none;
}

.btn {
  @include btn;
}


